				.nb{
					white-space: nowrap;
				}
				
				p{
					margin: 1em 0px 0px 0px;
				}
				
				ul{
					margin-top: 0px;
				}
				
				li{
					word-wrap: break-word;
				}
				
				div#navigation{
					position: fixed;
					top: 0px;
					left: 0px;
					border: 0;
					color: white;
					background: #0D4F8E;
					margin: 0px;
					height: 100%;
					width: 26ex;
					padding: 5px;
				}
				
				a.navigation:link{
					color: white;
				}
				
				a.navigation:visited{
					color: white;
				}
				
				a.navi_active:link{
					color: red;
				}
				
				a.navi_active:visited{
					color: red;
				}
				
				.error{
					color: red;
					font-weight: bold;
				}
				
				#content{
					position: absolute;
					top: 0px;
					left: 28ex;
					border: 0;
					background: white;
					margin: 0px;
					padding: 5px;
				}
				
				h2{
					margin: 0.5em 0px 0.5em 0px;
				}