				.nb{
					white-space: nowrap;
				}
				
				p{
					margin: 1em 0px 0px 0px;
				}
				
				ul{
					margin-top: 0px;
				}
				
				li{
					word-wrap: break-word;
				}
				
				div#navigation{
					position: fixed;
					top: 0px;
					left: 0px;
					border: 0;
					color: white;
					background: #0D4F8E;
					margin: 0px;
					height: 100%;
					width: 26ex;
					padding: 5px;
				}
				
				#content{
					position: absolute;
					top: 0px;
					left: 28ex;
					border: 0;
					background: white;
					margin: 0px;
					padding: 5px;
				}
				
				div.overlay_background{
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.6);
					position: fixed;
					left: 0px;
					top: 0px;
				}
				
				div.overlay_content{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					background: rgba(255,255,255,1);
					border: 1px solid black;
					padding: 0em 1em;
					overflow-y: auto;
					max-height: 100%;
				}
				
				a.navigation:link{
					color: white;
				}
				
				a.navigation:visited{
					color: white;
				}
				
				a.navi_active:link{
					color: red;
				}
				
				a.navi_active:visited{
					color: red;
				}
				
				.error{
					color: red;
					font-weight: bold;
				}
				
				ul{
					margin: 0px 0px 0px 3ex;
					padding-left: 3ex;
				}
								
				h2{
					margin: 0.5em 0px 0.5em 0px;
				}