				a:link{
					color:black;
				}
				
				div.welcome_page{
					margin: 0px 0px 0px 0px;
				}
				
				div.order_page{
					margin: 0px 25% 0px 25%;
				}
				
				div.order_form{
					margin: 2em 0px 0px 0px;
				}
				
				td.order_form{
					border: 1px solid black;
				}
				
				.error{
					font-weight: bold;
					color: red;
				}
				
				div.status_page{
					margin: 0px 0px 0px 25%;
				}